.container {
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 2rem !important;
    height: 2rem !important;
    margin: 0 0.4rem 0 0.4rem;
}


.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 12rem;
    height: 2rem;
    outline: none;
    border: none;
}

.lightMode {
    color: var(--light-background);
}
   
.darkMode {
    color: var(--text);
}